body {
    font-family:'Roboto', Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    margin:0;
    padding:0;
}

button {
    width: 100px;
    height: 30px;
    background-color: #3882F6;
    color: white;
    border-radius: 8px;
    outline: none;
    display:flex;
    align-items:center;
    justify-content:center;
}



.top-section {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    gap: 70px;
    padding-top: 20px;
    padding-left: 200px;
    padding-right: 200px;
    padding-bottom: 100px;
    
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

ul {
    display: flex;
    gap: 25px;
    list-style-type: none;
}

.intro {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.website-intro {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.header-logo {
    font-size: 24px;
    color:#f9faf8;
}

.title-blurb {
    font-size: 48px;
    font-weight: 900;
    color:#f9faf8;
}



.header-links, .blurb {
    font-size: 14px;
    color: #E5E7EB;
}

.blurb, .title-blurb {
    max-width: 400px;
}

.info-section {
    display:flex;
    flex-direction:column;
    align-items:center;
    text-align:center;
    gap:30px;
    padding-top:50px;
    padding-bottom:70px;
}

.info-title {
    font-size:36px;
    color: #1F2937;
    font-weight: 900;
}

.info-pictures {
    display:flex;
    justify-content:center;
    gap: 50px;
   
}

.pic {
    max-width:150px;
    max-height:200px;
    font-size:14px;
    color:black;
}

.rounded {
    border-radius:8px
}

.quote-section {
    display:flex;
    flex-direction:column;
    align-items:center;
    background-color:#E5E7EB;
    padding-left:400px;
    padding-right:400px;
    padding-top:100px;
    padding-bottom:60px;
}

.main-quote {
    font-size:36px;
    font-style:italic;
    color:#1F2937;
    font-weight:40;
    margin:0;
    padding:0;
}

.quote-name {
    margin-left:auto;
    font-weight:bold;
    font-size:15px;
}

.cta {
    display:flex;
    justify-content:center;
}

.cta-box {
    display:flex;
    align-items:center;
    gap:150px;
    background-color:#3882F6;
    border-radius:3px;
    padding-top:20px;
    padding-bottom:20px;
    padding-left:60px;
    padding-right:60px;
    margin-top:70px;
    margin-bottom:70px;
    color:white;
}

.cta-header {
    font-size:20px;
    font-weight:bold;
}

.cta-info {
    font-size:14px;
}

.footer {
    background-color: #1F2937;
    display:flex;
    justify-content:center;
    align-items:center;
    height:80px;
    margin-bottom:auto;
    color:white;
}

.sign-up {
    border-color:white;
}



